<main class="main">
    <h1>Test1</h1>
    <h2>Test2</h2>
    <p>fff</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi odio architecto corporis odit molestias delectus nam, assumenda fugit expedita facere ratione itaque harum non blanditiis repudiandae animi earum voluptates aliquam.</p>
    <picture>
        <source srcset="@@path/images/test.webp" type="image/webp">
        <source srcset="@@path/images/test.jpeg" type="image/jpeg">
        <img class="img1" src="@@path/images/test.jpeg" alt="FF">
    </picture>
    <picture></picture>
</main>