@import "reset";
@import "vars";
@import "mixins";
@import "fonts";

//-----------------------------------------------

@import "./components/header";
@import "./components/swiper";

.main{
    p{
        font-size: 20px;
        font-family: "Muller";
        @include flex-all-center;
        font-weight: 400px;
    }
}

.swiper {
    width: 900px;
    height: 600px;
}

.img1{
    width: 500px;
    height: 500px;
}